.select-input {
  position: relative;
  display: flex;
  width: 315px;
  height: 45px;
  line-height: 3;
  overflow: hidden;
  border-radius: 0.25em;
  border: 2px solid $primary-blue;

  select {
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    border: 1px solid $primary-blue;
    flex: 1;
    font-size: 18px;
    padding-left: 10px;
    line-height: 16px;
    color: $primary-gray;
    cursor: pointer;
  }
}

.select-input::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: $primary-black;
  cursor: pointer;
  pointer-events: none;
  transition: 0.25s all ease;
  color: $primary-blue;
}
