$first-white: #ffffff;
$first-blue: #2d9cdb;
$first-orange: #fd7d24;
$first-green: #9bcc50;
$first-red: #c53030;
$first-gray: #828282;
$second-gray: #dedede;
$third-gray: #666360;
$fourth-gray: #616161;
$fifth-gray: #a8a8b3;
$first-black: #2c2c2c;
$second-black: #11111199;
$third-black: #333333;
$fourth-black: rgba(0, 0, 0, 0.2);
$fifth-black: #212121;
$sixth-black: #4f4f4f;
$first-background-color: #f2f2f2;
